html {
  scroll-snap-type: y mandatory;
}

.homepage__wrapper {
  background-image: url('/assets/storefront.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.logo__wrapper {
  flex-direction: column;
  justify-content: space-between;
}

.scroll__child {
  height: 100vh;
  display: flex;
  background: inherit;
  scroll-snap-align: start;
}

.center__wrapper {
  flex-direction: column;
  justify-content: space-around;
}

.homepage__jumbotron {
  padding-left: 15%;
}

.frosted__glass__wrapper {
  width: 50%;
  margin-left: 25%;
  padding: 20px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.frosted__glass__wrapper:before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.6);
  filter: blur(15px);
  margin: -20px;
}





@media screen and (max-width: 900px) {

  .homepage__wrapper {
  background-image: url('/assets/storefront.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: fill;
  background-position: top center;
}

.logo__wrapper {
  flex-direction: column;
  /* justify-content: space-between; */
}

.scroll__child {
  height: 100vh;
  display: flex;
  background: inherit;
  scroll-snap-align: start;
}

.center__wrapper {
  flex-direction: column;
  justify-content: space-around;
}

.homepage__jumbotron {
  padding-left: 15%;
}

.frosted__glass__wrapper {
  width: 100%;
  /* margin-left: 5%; */
  /* padding: 20px; */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.frosted__glass__wrapper:before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.6);
  filter: blur(15px);
  margin: -20px;
}

}
