.form__wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.form__wrapper input,
.form__wrapper textarea {
  margin: 5px;

  height: 28px;
  font-size: 18px;
  border: none;
  border-bottom: 1px black solid;
  background-color: inherit;
}

.form__wrapper textarea {
  height: 120px;
}

.form__wrapper label {
  margin: 1px 8px;
}

.form__submit {
  margin: 5px 25%;
  border-radius: 25px;
  height: 36px;
  box-shadow: none;
  width: 50%;
  background-color: #5cb85c;
  color: white;

  border-color: #5cb85c;
  border-style: solid;

  font-size: 18px;

  transition: all 0.2s;
}

.form__submit:hover {
  transition: all 0.2s; 
  box-shadow: 0 0.5em 0.5em -0.4em grey;
  transform: scale(1.01);
}
