.contactpage__wrapper {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    /* justify-content: space-between; */

    height: 100vh;
}

.contactpage__banner {
    height: 250px;
    margin: 2% 0;
    /* align-self: flex-end; */
}

.contactpage__paragraph {
    width: 50%;
    margin-left: 25%;
}
.contactpage__content__wrapper {
    /* width: 80%; */
    align-self: center;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contactpage__content__wrapper *:first-child, .contactpage__content__wrapper *:last-child {
    width: 45%;
}

